
body {
    background: linear-gradient(#e66465, #9198e5);
    background: linear-gradient(to left, #e98e52, #f1d143 10%, #f03312 105%);
    color: #000000;
    padding: 40px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
    font-size: xx-large;
    background-image: linear-gradient(); 
    align-content:left;
    background-image: url(https://www.utep.edu/technologysupport/_Files/images/CYB_WindowsStudent_01.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
